:root {
  --clr-primary-200: hsl(225, 100%, 94%);
  --clr-primary-150: hsl(225, 100%, 96%);
  --clr-primary-500: hsl(245, 75%, 52%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(224, 23%, 55%);
  --clr-neutral-700: hsl(223, 47%, 23%);

  /* font  */
  --font-body: 'Red Hat Display', sans-serif;

  /* font weights  */
  --font-normal: 500;
  --font-bold: 700;
  --font-bolder: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-height: 100vh;
}

img,
svg,
video,
picture,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

input , button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* General Styling  */

body {
  background-color: var(--clr-primary-200);
  background-image: url(images/pattern-background-mobile.svg);
  font-family: var(--font-body);
  /* overflow: hidden; */
  display: grid;
  place-content: center;
  font-weight: var(--font-normal);
}

@media (min-width: 425px)
{
  body{
    background-image: url(images/pattern-background-desktop.svg);
  }
}

a , button {
  cursor: pointer;
}

.container {
  margin: 3.5rem 1.4rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--clr-neutral-100);
  box-shadow: 0 50px 4rem hsla(0, 0%, 0%, 0.1);
  max-width: 375px;
}
 
.order {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin: 1.75rem 1.25rem;
}

.order h1 {
  font-weight: var(--font-bolder);
  font-size: 1.35rem;
  color: var(--clr-neutral-700)
}

.order p {
  color: var(--clr-neutral-400)
}

.para {
  margin: 0 0.8rem;
  
}

.plans {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(230, 75%, 98%);
  padding: 1rem 0;
  border-radius: 0.75rem;
  font-size: 0.825rem;
  font-weight: var(--font-bold);
}
.plans h3 {
  font-weight: var(--font-bolder);
  color: var(--clr-neutral-700);
}
.price {
  padding-right: 1.5rem;
}

.plans a:any-link {
  color: var(--clr-primary-500);
}

.plans a:active {
  color: hsla(245, 75%, 52%,0.7);
  text-decoration: none;
}

.button_payment {
  padding: 0.8rem 0;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
  font-weight: var(--font-bold);
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0px 5px 2rem hsla(245, 75%, 52%, 0.5);
}
.button_payment:active {
  color: hsla(0, 0%, 100%,0.8);
  background-color: hsla(245, 75%, 52%, 0.7);
}

.cancel {
  text-decoration: none;
  color: var(--clr-neutral-400);
  font-weight: var(--font-bolder);
}

.cancel:active {
  color: var(--clr-neutral-700);
}